{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="section">
        <h2>Purchases</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>

                </tr>

            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for item in transactions %}
                <tr>
                    <td class="text-start">{{item.symbol}}</td>
                    <td class="text-start">{{item.shares}}</td>
                    <td class="text-end">{{item.price}}</td>
                    <td class="text-end">{{item.transacted}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}